body{
    background-color: #212529;
}
footer{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;

}
nav{
    padding: 10px;
}
.portfolio{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}